@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=UnifrakturMaguntia&display=swap');
body {
    background-image: url('fotos/3GNIZl.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.playlist {
    background-color: rgba(0, 0, 0, 0.555);
    padding: 8px;
    border: rgb(0, 0, 0) 2px;
    margin-left: 10px;
    color: rgb(185, 185, 185);
    font-family: 'Antic Didone', serif;
}
.playlist td {
    border-width: rgb(0, 0, 0) solid 5px;
    border-left: 5px; color: black;
    color: rgb(185, 185, 185);;
    font-family: 'Antic Didone', serif;
    padding: 20px;
    padding-left: 30px;
}
header {
    background-color: rgba(0, 0, 0, 0.301);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    font-family: 'UnifrakturMaguntia', cursive;
    color: rgb(185, 185, 185);
}
body {
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 0px;
 color: rgb(185, 185, 185);
 font-family: 'Antic Didone', serif;
}
table{
    padding-left: 10px;
}
p {
    margin-top: 50px;
    padding-left: 10px;
    font-family: 'Antic Didone', serif;
}
.album-cover {
    height: 80px;
    width: 80px;
}
a {
    color: rgb(185, 185, 185);
}
footer {
    color: rgb(185, 185, 185);
    background-color: rgba(0, 0, 0, 0.363);
    text-align: end;
    border-width: 3px;
}

